.DirectError__BoxNumberFields {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#S_i, #x_mean {
  width: auto;
  max-height: 65px;
}
#E_i {
  max-width: 200px;
  max-height: 65px;
}

.table-row-cell {
  max-height: 10px;
}

.table-container {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
  background-color: white;
  border: 0.5px solid gray;
}

.description {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: auto;
}

.table {
  border: 0.5px solid gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.form_cotrol {
  width: 35px;
}

.DirectError__item {
  height: 25px;
}

.selectDataPrepType__text {
  margin-top: 50px;
}

.choseStatisticMetrics__items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choseStatisticMetrics__item {
  height: 25px;
}
