.DirectError__items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.DirectError__item {
  height: 25px;
}

.selectDataPrepType__text {
  margin-top: 50px;
}

.choseStatisticMetrics__items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choseStatisticMetrics__item {
  height: 25px;
}
